body, html{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0;
}


.signUpPageMainDiv{
  height: 100vh;
  background-color: #ADEFD1FF;
  color: white;
}

.signUpFormDiv{
  margin: auto;
  margin-top: 100px;
  height: 550px;
  width: 200px;
  background-color:#00203FFF;
}

.logoSignupPage{
  margin-top: 100px;
}


.logoName{
  font-weight: 500;
  font-size: 86px;
}

.loginPageMainDiv{
  background-color:#ADEFD1FF ;
  height: 100vh;
  width: 100%;
}

.logoDetails{
  display: flex;
  justify-content: center;
}
.loginForm{
  margin: 0;
  background-color: #00203FFF;
  width: 150px;
  height: 400px;
  margin: auto;
  padding-top: 80px;
  color: white  ;
  border-style: groove;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
}

.indexPageMainDiv{

  background-image: url(../images/background/bg4.jpg);
   height: 100vh;
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.posts{
  margin: auto;
  border: solid 1px red;
  height:750px ; 
  background-color: aqua;
}



.postInformation{
  width: 850px;
  background-color: antiquewhite;
  height: 420px;
  overflow: hidden;
  overflow-y: scroll;
 
}

.commentBox{
  overflow: hidden;
  overflow-y: scroll;

}