<section>
    <div class="container" style="background-color: rgb(217, 232, 245);">
        <div class="row" style="background-color: aqua;">
            <div class="profile-update col-10 col-md-7 ml-1">
                <h2 style="font-family: 'Arvo', serif;">Update Profile</h2>
                <div class="mt-4" style="background-color:rgb(235, 213, 213)">
                    <form action="#" enctype="multipart/form-data">
                         <img src="https://media-exp1.licdn.com/dms/image/C5103AQGB0wknlPivjA/profile-displayphoto-shrink_200_200/0/1565978498199?e=1627516800&v=beta&t=W4VXeeYziuCvmtPNz0iGYCY2a3FHPnFKxXch4vrO9yc" alt="Avatar" style="height: 100px; width: 100px; border-radius: 50%;"><br>
                         <input type="file"class="mt-2">
                        <input class="w3-input mt-4" type="text" placeholder="username">
                         <textarea class="form-control mt-2" name="about" rows="2" placeholder="desc..."></textarea>
                         <input type="submit" value="Update" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
            
        </div>

    </div>
</section>