<section>
    <div class="container" style="background-color: rgb(217, 232, 245);">
        <div class="row" style="background-color: aqua;">
            <div class="profile-update col-10 col-md-7 ml-1">
                <h2 style="font-family: 'Arvo', serif;">Update Profile</h2>
                <div class="mt-4" style="background-color:rgb(235, 213, 213)">
                    <form action="/update-profile" method="POST" enctype="multipart/form-data">
                         <img src="/images/profile-images/{{user.profileImage}}.jpg" alt="Avatar" style="height: 100px; width: 100px; border-radius: 50%;" id="imgVew"><br>
                        <input type="file" class="form-control-file" name="Image" onchange="viewImage(event)">
                        
                        <input class="w3-input mt-4" type="text" placeholder="username" value="{{user.username}}" name="username">
                         <textarea class="form-control mt-2" name="about" rows="2" placeholder="">{{user.about}}</textarea>
                         <input type="submit" value="Update" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
            
        </div>

    </div>
</section>



<script>
    function viewImage(event){
        document.getElementById('imgVew').src=URL.createObjectURL(event.target.files[0])
    }
</script>