<section>
    <div class="indexPageMainDiv">
        <div class="startBlogButton  col-11 col-md-11 col text-center" style="padding-left: 110px;">
            <a href="/login" class="btn btn-success btn-lg " style="margin-top: 85px; background-color: rgb(209, 127, 4)!important;width: 150px !important;">Start Blog</a>
        </div>
    </div>

</section>

