<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 search-bar-main-div"style="margin-top: 100px;">
                 <div class="col-md-6 search-bar">
                     <form action="/search" method="POST"> 
                      <input class="w3-input w3-border w3-round-large" type="text" name="searchName">
                 </div>
                  
                  <input type="submit" style="border-radius: 20%; background-color: rgb(168, 171, 173); color: white;" value="Search">
                  </form>
            </div>
        </div>
    </div>
</section>
