<section>

    <div class="container" style="padding-top: 100px;">
        {{#each bloggers}}
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12" style="background-color: rgb(236, 241, 245); display: flex; justify-content: space-between; cursor: pointer;">
                <div style="display: flex;">
                    <div style="display: flex;" onclick="viewProfile('{{this.id}}')">
                         <img src="/images/profile-images/{{this.profileImage}}.jpg" alt="Avatar"
                                        style="height: 85px; width: 85px; border-radius: 50%;">
                        <h3 style="padding-top: 16px;">{{this.name}}</h3>
                    </div>
                </div>

                
            </div>

        </div>
        {{/each}}
    </div>

</section>


<script>

function viewProfile(id){
    console.log("Heloo")
    console.log(id)
    
    window.location.href=`/view-searched-blogger/${id}`
}

</script>